body {
    background-color: rgb(65, 168, 168);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.container {
    max-width: 600px;
    height: 250px;
    background-color: aqua(6, 171, 248);
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    text-align: center;
}